<a href="https://colab.research.google.com/github/pinoycaster/Test/blob/master/Data_Visualization_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
filename = '/content/drive/MyDrive/CodingDojo/04 Week 4: Explanatory Viz/cereal.csv'
df = pd.read_csv(filename)

In [4]:
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

NameError: ignored

Number of of cerials per manufacturing type
Which cerials is the healthiest - mopst fiber, vitamins, protein, less sugar and calories

Which cerials are the worst
List the top 10 cerials showing the least fiber, vitamins and protein
and the one with most sugar and calories